.date-block {
    padding: 10px 0;

    input.date,
    textarea {
        display: block;
        padding: 5px 0 5px 5px;
        width: 100%;
        height: 34px;
        font-size: 14px;
        line-height: 1.42857143;
        color: $color-grey-very-dark;
        background-color: $color-white;
        border: 1px solid $color-grey-dark;
        border-radius: 4px;
        &:focus{
            border-color: $color-blue;
            outline: 0;
            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
        }
    }

    label {
        display: block;
        padding: 5px 0;
    }
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button, {
    -webkit-appearance: none;
    margin: 0;
}